html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  /* border: 1px solid black; */
}

/* Variables */
:root {
  --c-bg: #ffffff;
  --c-bg-dark: rgb(0, 0, 0);
  --c-text: #000000;
  --c-text-dark: #ffffff;
  --i-icons: #000000;
  --header: #ff7373;
  --nav: #f2ff35;
  --icons: #345a38;
  --phone: #3e95b1;
  --tablet: #37bb5d;
  --persian-green: #1b998b;
  --persian-green-hover: rgb(30, 173, 156);
  --indigo-dye: #033f63ff;
  --aero-blue: #8BF9C7;
  --aero-blue-nav: #8bf9c74d;
  --off-white: #ffffffdb;
  --green: #1b998b;
  --black: #000000;
  --melon: #fcbfb7ff;
  --earth-yellow: rgb(233, 216, 160);
}


/* Global: Page Positioning and Size */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

/* Global: Font and Letter Styles */
#Page {
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  font-size: 16px;
  letter-spacing: .1em;
  color: var(--c-text)
}

ul {
  padding-inline-start: 0;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.m-light {

}

.m-dark {

}

/* Website Frame */
#Frame {
  height: 95vh;
  width: 97.5vw;
}

.frame {

}

/* Header  */
#Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
  background-color: var(--c-bg);
  /* border-bottom: 1px solid black; */
}

.header-icons {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2em;
  font-size: 1.25em;
  padding-inline: 20px;
  background-color: var(--c-bg);
  color: var(--i-icons);
}

.header-icons > *:hover {
  color: var(--header)
}

/* Nav */
.header-nav {
  display: flex;
  background-color: var(--c-bg);
  overflow: hidden;
}

.header-nav > ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: clamp(2em, 3vw, 3em);
  list-style: none;
  font-size: 1.5em;
}

.header-nav-li {
  letter-spacing: 0;
}

.header-nav-li:nth-child(3) {
  margin-right: 35px;
}

a {
  color: inherit;
}

.h-nav-li-links {
  text-decoration: none;
  color: var(--c-text);
}

.h-nav-li-links:hover {
  text-decoration: none;
  color: var(--header);
}


/* Buttons */

#Mode-switch {
  position: relative;
  top: .025em;
  margin-right: 20px;
  padding: 0 10px;
  border-radius: 20px;
  background-color: var(--c-bg);
  color: var(--c-text);
}

.header-nav-x {
  display: none;
}

.hamburger-container {
  padding: 20px;
}

#Hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .2em;
  height: 30px;
  /* width: 30px; */
  aspect-ratio: 1 / 1;
  /* border: 1px solid black; */
}

.hamburger-line {
  height: 10px;
  width: 30px;
  border-radius: 10px;
  background-color: var(--c-bg-dark);
}

.h-hidden {
  display: none;
}

/* Body */
.content {
  min-height: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--c-bg);
  overflow: scroll;
}

#Home {
  min-height: 90%;
  display: flex;
  /* width: 90vw; */
  justify-content: space-between;
  align-items: center;
}

#Projects {
  min-height: 90%;
  display: flex;
  /* width: 90vw; */
  justify-content: space-between;
  align-items: center;
}

.page {
  color: var(--c-text);
  padding-left: 20px;
}

.page-content-home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-between;
}

.page-content-projects {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-between;
}

.home-name {
  font-size: 6em;
  font-weight: 200;
}

.projects {
  font-size: 6em;
  font-weight: 200;
}

.period {
  color: var(--aero-blue);
}

.home-description {
  font-size: 1.25em;
  margin-left: .4em;
  margin-top: -.5em;
}

#Chatbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .75em;
  height: 30em;
  width: 50em;
  margin-right: 40px;
  margin-left: 40px;
}

#Chatbox-projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: .75em;
  height: 30em;
  width: 50em;
  margin-right: 40px;
  margin-left: 40px;
}


.chatbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 90%;
  width: 70%;
  overflow: scroll;
}

.chatbox-projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 90%;
  width: 90%;
}

.chatbox-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1em;
  list-style: none;
  font-size: 1.15em;
  font-weight: 200;
  letter-spacing: 0.03em;
  width: 100%;
}

.chatbox-projects-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  list-style: none;
  font-size: 1.15em;
  font-weight: 200;
  letter-spacing: 0.03em;
  width: 100%;
}

.chatbox-list > .auto-text {
  background-color: var(--aero-blue);
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
}

.chatbox-list > .response-text {
  align-self: flex-start;
  background-color: var(--persian-green);
  color: #ffffff;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
}

.chatbox-projects-list > .project {
  /* background-color: var(--aero-blue); */
  font-size: 1.5em;
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.project-picture {
  border: 2px solid black;
  height: 100%;
  width: 100%;
}

.chatbox-projects-list > .project-focus {
  align-self: flex-start;
  background-color: var(--persian-green);
  color: #ffffff;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
}

.chatbox-search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.chatbox-search {
  text-align: left;
  font-family: inherit;
  height: 30px;
  width: 50%;
  padding: 1em;
  border: 0.5px solid var(--persian-green);
  border-radius: 10px;
}

.chatbox-search-button {
  font-family: inherit;
  height: 30px;
  width: 20%;
  border-radius: 10px;
  border: 0.5px solid var(--persian-green);
  background-color: var(--aero-blue-nav);
}

.chatbox-search-button:hover {
  background-color: var(--aero-blue);
  cursor: pointer;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .header-icons {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.20em;
    font-size: 1.55em;
    padding-inline: 20px;
    background-color: var(--c-bg);
    color: var(--i-icons);
  }
  
  .header-nav > ul {
    z-index: 100;
    position: fixed;
    display: flex; 
    inset: 0 0 0 50%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1em;
    padding: min(20vh, 1em);
    background: var(--aero-blue-nav);
    backdrop-filter: blur(1em);
  }

  .header-nav > ul > li {
    position: relative;
    top: 100px;
  }
  
  #Mode-switch {
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    margin: 24px 60px;
    padding: 0 10px;
    border-radius: 20px;
    background-color: var(--c-bg);
    color: var(--c-text);
  }

  #Mode-switch > * {
    position: relative;
    left: .1em;
    top: .05em;
  }

  #Header-nav-x {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    font-size: 1.2em;

    margin: 24px 15px;
    padding: 0 10px;
    border-radius: 20px;
    background-color: var(--c-bg);
    color: var(--c-text);
  }

  #Header-nav-x > * {
    position: relative;
    left: 0em;
    top: .05em;
  }

  .h-hidden {
    display: block;
  } 

  .hidden {
  display: none;
  }
  
  .hamburger-container {
    z-index: 99;
  }
  
  .content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-top: 200px;
  }
  
  .page-content-home {
    position: relative;
  }

  #Chatbox {
    margin-top: 20px;
    justify-content: center;
    align-items: center;
  }

  .chatbox {
    align-items: center;
  }

  .chatbox-list {
    align-items: center;
    width: 80%
  }

  .chatbox-list > li {
    text-align: center;
    width: 100%;
  }


  .home-name {
    font-size: 5em;
  }
  
  #Chatbox-projects {
    width: 90%;
  }
  #Projects {
    margin-top: 50px;
  }

  .chatbox-projects-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .projects {
    font-size: 3em;
  }

  .chatbox-projects-list > .project {
    text-align: center;
    height: 100%;
    width: 100%;
}
